In [15]:
# pandas, matplotlib, numpy, seaborn
# import databases as dataframes

# regex to remove the t.co links

# expoloratory data analysis -> find the most popular tweets (company wise), when the tweets were published
# basic facts on databse: number of unique companies mentioned, number of tweets

In [16]:
import pandas as pd

stocks_df = pd.read_csv('stocks_cleaned.csv')
data_df = pd.read_csv('stockerbot-export.csv', error_bad_lines=False)

/var/folders/tp/dxswp2n113bc8gy88np7z0qw0000gn/T/ipykernel_59963/997665392.py:4: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  data_df = pd.read_csv('stockerbot-export.csv', error_bad_lines=False)
b'Skipping line 731: expected 8 fields, saw 13\nSkipping line 2836: expected 8 fields, saw 15\nSkipping line 3058: expected 8 fields, saw 12\nSkipping line 3113: expected 8 fields, saw 12\nSkipping line 3194: expected 8 fields, saw 17\nSkipping line 3205: expected 8 fields, saw 17\nSkipping line 3255: expected 8 fields, saw 17\nSkipping line 3520: expected 8 fields, saw 17\nSkipping line 4078: expected 8 fields, saw 17\nSkipping line 4087: expected 8 fields, saw 17\nSkipping line 4088: expected 8 fields, saw 17\nSkipping line 4499: expected 8 fields, saw 12\n'

In [17]:
stocks_df.head()

  ticker         name
0   NVAX      Novavax
1   SIRI    Sirius XM
2    QQQ  Invesco QQQ
3   AAPL        Apple
4   MSFT    Microsoft

In [18]:
#dropping the url column
data_df = data_df.drop(columns=['url'])

,id,text,timestamp,source,symbols,company_names,verified
0,1019696670777503700,VIDEO: “I was in my office. I was minding my o...,Wed Jul 18 21:33:26 +0000 2018,GoldmanSachs,GS,The Goldman Sachs,True
1,1019709091038548000,The price of lumber $LB_F is down 22% since hi...,Wed Jul 18 22:22:47 +0000 2018,StockTwits,M,Macy's,True
2,1019711413798035500,Who says the American Dream is dead? https://t...,Wed Jul 18 22:32:01 +0000 2018,TheStreet,AIG,American,True
3,1019716662587740200,Barry Silbert is extremely optimistic on bitco...,Wed Jul 18 22:52:52 +0000 2018,MarketWatch,BTC,Bitcoin,True
4,1019718460287389700,How satellites avoid attacks and space junk wh...,Wed Jul 18 23:00:01 +0000 2018,Forbes,ORCL,Oracle,True

In [20]:
data_df['text'].head()

0    VIDEO: “I was in my office. I was minding my o...
1    The price of lumber $LB_F is down 22% since hi...
2    Who says the American Dream is dead? https://t...
3    Barry Silbert is extremely optimistic on bitco...
4    How satellites avoid attacks and space junk wh...
Name: text, dtype: object